body {
    font-family: "Comic Sans MS";
}
#inputWords {
    float:left;
    width: 45%;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
li {
    line-height: 2em;
    text-transform: uppercase;
    margin-top: 8px;
}
input[type=text] {
    border-width: 0 0 1px 0;
    border-color: #ff0000;
}
#buttonDiv {
    text-align: center;
}
#replaceButton {
    margin-top: 300px;
    width: 1000px;
    border-color: #ff0000;
    background-color: #0015ff;
    color: white;
    font-size: 3.5em;
}
#story {
    margin-top: 12px;
    width: 45%;
    border: 1px dashed rgb(255, 0, 195);
    padding: 8px;
    float: left;
}
.replacement {
    text-decoration: underline;
    text-transform: uppercase;
}